<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Grid.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.mildgrind.Grid</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>0</string>
		<key>SigningIdentity</key>
		<string>Mac Developer: rex.chen@appledaily.com.tw (27NPL8J5V6)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-07-20T02:00:20Z</date>
	<key>Name</key>
	<string>Grid</string>
	<key>SchemeName</key>
	<string>Grid</string>
</dict>
</plist>
